#supporters {
  padding: 60px 0;
}
#supporters .supporters-wrap {
  /* border-top: 1px solid #e0e5fa;
  border-left: 1px solid #e0e5fa; */
  margin-bottom: 30px;
}
#supporters .header-awards h2
{
  font-weight: 530;
  font-size: 40px;
  font-family: 'Montserrat',sans-serif;
  color: #fff;
  text-shadow:6px 6px rgba(0, 0, 0, 0.495);;
  
}
#supporters .supporter-logo {
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa; */
  overflow: hidden;
  background: #30303030;
  height: 200px;
}
#supporters .supporter-logo:hover img {
  transform: scale(1.1);
}
#supporters img {
  transition: all 0.4s ease-in-out;
}