@keyframes borderMovement {
    0% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(-20px); /* Adjust the value as needed */
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .animated-border {
    animation: borderMovement 2s infinite; /* Adjust the duration as needed */
  }
  