.swiper {
    width: 250px;
    height: 450px;
    padding: 50px 0;
  }
  
  .swiper-slide {
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .swiper-slide span {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 7px 18px;
    margin: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: inherit;
    background: rgba(255, 255, 255, 0.095);
    box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2), inset -3px 3px 3px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(74px);
  }
  
  .swiper-slide h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 0 0 20px 20px;
  }
  
  .swiper-slide:nth-child(1n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/2929f534-3bc3-4cbd-b84c-80df863d5a38)
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(2n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b6f5eb64-887c-43b1-aaba-d52a4c59a379")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(3n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e906353b-fde0-4518-9a03-16545c1161bd")
        no-repeat 50% 0% / cover;
  }
  
  .swiper-slide:nth-child(4n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/fc21e481-e28a-41a8-9db3-3b62c1ddc17e")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(5n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/6b6ad966-79e1-4d3c-8f92-566d0fee8082")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(6n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/2ad44f5d-2215-4416-9c9b-2bae3be51a67")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(7n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/aa8fe914-741f-4bf4-ad4a-24f19d1f4178")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide:nth-child(8n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d5f10b4f-7d34-45bd-bb5f-5f1530c2ac1c")
        no-repeat 50% 0% / cover;
  }
  
  .swiper-slide:nth-child(9n) {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/7cbac263-7c55-4428-908e-31018dc1bce3")
        no-repeat 50% 50% / cover;
  }
  