@font-face {
  font-family: myFirstFont;
  src: url(Quantum.otf);
}
.herobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
  margin: 0;
  opacity:1;
  width: 100%;
}

.hero {
  width: 100vw;
  /* height: calc(100vh - 64px);  */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("./Hero.svg");
  filter:grayscale(0%);
  
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity:1;
  /* color:white; */

  /* opacity:0.8; */
}

.headerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "montserrat";
  font-size: 12rem;
  font-weight: bolder;
  display: inline-block;
  background-image: linear-gradient(to bottom, #e8eef4,  #e8eef4 , #ea1362 ,#ea1362 );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity:1;
  filter: grayscale(0%);

}
.logo {
  margin-bottom: 3.5rem;
}
.text_img {
  width: 500px;
}

.caption {
  font-style: italic;
  color: #fff;
  font-size: 6rem;
  font-weight: 800;
}

.btn {
  display: block;
  background-image: linear-gradient(to top right, #09b326, #32b4ed);
  padding: 1.1rem 0.5rem;
  border: none;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  width: 30rem;
  cursor: pointer;
  transition: all 0.2s;
  padding-bottom:22;
}

.btn:hover {
  transform: translateY(-0.1rem);
  background-image: linear-gradient(to top left, #09b326, #32b4ed);
}

.btn:active {
  transform: translateY(0);
}

.anchorBtn {
  text-decoration: none;
}

.date {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.countdownbox {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.countdown {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.column {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 968px) {
  .herobox {
    justify-content: center;
  }

  .hero {
    background-position: center center;
    /* margin-top: 650px; */
    
  }

  .logo {
    width: 50rem;
  }
  .text_img {
    width: 300px;
  }
  .headerbox {
    padding: 2rem 0;
  }

  .heading {
    font-size: 5rem;
  }

  .btn {
    display: block;
    background-image: linear-gradient(to top right, #09b326, #32b4ed);
    padding: 1.1rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 2.4rem;
    font-weight: 600;
    color: #fff;
    width: 30rem;
    cursor: pointer;
    transition: all 0.2s;
  }

  .countdownbox {
    column-gap: 1rem;
  }

  .date{
    font-size: 2rem;
  }
}
