.header {
  position: fixed;
  width: 95%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.4rem;
  color: #fef109;
  z-index: 200;
  transition: all 0.4s ease-in-out;
  background-color: black;
  top: 2%;
  padding-top:2px;
  border:5;
  border-color:white;
  font-family: "Montserrat";
  border-radius: 10px;
  padding-bottom: 0;
  
}

.scrolledHeader {
  width: 95%;
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.932);
  padding: 0.1rem;
  color: #fff;
  z-index: 100;
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  border:1;
  border-color:white;

}

.elements {
  display: flex;
  align-items: center;
  justify-content: center;

}

.logobox {
  display: flex;
  align-items: flex;
  gap: 1rem;
  
}

.logo {
  width: 40%;
  opacity:0.6;
  /* box-shadow: -5px 11px gray; */
  /* border-radius:10px; */
} 

.hamburger {
  display: none;
}

.heading {
  font-size: 2.1rem;
}

.navbox {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  font-size: 1.6rem;
  padding-bottom :5px;
  /* justify-content: space-between; */
}

.navLink {
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin-right: 2rem;
  font-weight: 800;
  cursor: pointer;
  font-family: system-ui;
}

.navLink:after {
  content: "";
  display: block;
  width: 100%;
  transform: scaleX(0);
  height: 3.5px;
  bottom: 1px;
  top:2px;
  left: 0;
  background-image: linear-gradient(to bottom right, #e63f3f, #fff);

  transform-origin: bottom right;
  transition: transform 0.85s ease-in-out;
}

/* .homeLink {
  color: inherit;
} */

.navLink:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  transform-origin: left left;
}

.active {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.dropLink {
  width: 8.5rem;
  display: inline-block;
  /* text-align: center; */
  /* align-items: center; */
  text-decoration: none;
  /* margin-right: 3rem; */
  cursor: pointer;
  color:white;

  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* color: transparent; */
  font-weight: 600;
}
.dropLink:hover{
  font-size:larger;
  font-weight: 800;

}
.btn1 {
  background-image: linear-gradient(to bottom right, #1c53a1, #ff0932);
  padding: 0;
  border: 1;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  width: rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover,
.btn1:hover {
  /* transform: translateY(-0.1rem);
  background-image: linear-gradient(to top left, #09b326, #32b4ed); */
}

.btn:active {
  transform: translateY(0);
}

.mobileBox {
  display: none;
}

.none {
  display: none;
}

.mobileNav li {
  list-style: none;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.mobileNav li:nth-child(4) {
  margin-top: 2rem;
}

.mobLink {
  display: block;
  padding: 2rem;
  font-size: 2.9rem;
  background-image: linear-gradient(to bottom right, #21569d, #ff0932);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  color: transparent;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 30%;
  }

  .nav {
    display: none;
  }

  .btn {
    display: none;
  }

  /* .btn1 {
    background-image: linear-gradient(to bottom right, #ff00ee, #ff0932);

    padding: 0.9rem 1.3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.9rem;
    font-weight: 600;
    color: #fff;
    width: 15rem;
    margin: 2rem auto;
    cursor: pointer;
  } */

  .hamburger {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .none {
    width: 95%;
    position: absolute;
    top: -50rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    padding: 1.3rem 2rem;
    text-align: center;
    transition: all 0.4s;
  }

  .mobileBox {
    width: 95%;
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 10px;
    padding: 1.3rem 2rem;
    text-align: center;
    transition: all 0.8s;
  }
}
