
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
html,body{ 
	width:100%;
	height:100%;
	background:radial-gradient(circle, black,rgba(0,0,0,0));}
html{  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body{  font:normal 75% Arial, Helvetica, sans-serif;}
canvas{  display:block;  vertical-align:bottom;}

/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  animation: changeColor 16s infinite alternate;
}
@keyframes changeColor {
  0% {background:
#0862d6
;background-image:linear-gradient(to top,rgba(5,5,5,0.8),rgba(0,0,0,0));}
  50% {background:#009696;background-image:linear-gradient(to top,rgba(5,5,5,.8),rgba(0,0,0,0));}
  100% {background:#03559e;background-image:linear-gradient(to top,rgba(5,5,5,.8),rgba(0,0,0,0));}
}


#overlay{height:100%;position:absolute;top:0;right:0;left:0;text-align:center;z-index:0;}
[id^="circle"]{
  position:absolute;left:36%; top:2em;z-index:1;
    }
#circle31{background:rgba();
        width:20em;height:20em;
        border-radius:30em;
        margin:1.5em;
        animation:spin 3s infinite linear;
      }
    #circle31::before,#circle31::after{position: absolute;content:''; }
    #circle31::before{border-top:2px solid #68fff4;border-bottom:2px solid #68fff4;border-radius:30em; width:calc(100%);
    height:calc(100% );
    top:-1px;
    left:50%;
    transform:translateX(-50%);
    z-index: 1; }

#circle2{
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:3px;
        border-style:dotted;
        width:22em;height:22em;
        border-radius:30em;
        margin:.5em;
        animation:spin2 14s infinite linear;
      }
#circle1{font-size:1em;
        border-color:#68fff4 rgba(0,0,0,0) #68fff4 rgba(0,0,0,0);
        border-width:4px;
        border-style:solid;
        width:23em;height:23em;
        border-radius:30em;
        animation:spin1 18s infinite linear;
      }

@keyframes spin {
  0% {
    transform: rotate(45deg);
    }
    100% {
    transform: rotate(405deg);
    }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

@keyframes spin2 {
  0% {
    transform: rotate(90deg);
    }
    100% {
    transform: rotate(-450deg);
    }
}
nav{z-index:10;}
.menu-left{position:absolute; right:64%; top:9em; transform:skewX(30deg);}
.menu-left ul li{ background:white;margin:20px 0px 20px 20px;
                width:155px;padding:0.5px; 
                box-shadow:-4px -4px 0px teal;}
.menu-left ul li:nth-child(1){margin-left:130px; }
.menu-left ul li:nth-child(3){margin-left:80px; }
.menu-left ul li button{width:100%;transform:skewX(-30deg);background:none;border:none;padding:0;color:black;font-family:'Aldrich';font-weight:bold;}

.menu-right{position:absolute; left:65%; top:9em;transform:skewX(-30deg);}
.menu-right ul li{background:white;margin:20px 0px 20px 20px;
                width:155px;padding:0.5px; 
                box-shadow:4px -4px 0px teal;}
.menu-right ul li:nth-child(1){margin-left:-50px;}
.menu-right ul li:nth-child(2){margin-left:50px;}
.menu-right ul li:nth-child(3){margin-left:0px;}
.menu-right ul li button{ width:100%; transform:skewX(30deg);background:none;border:none;padding:0;color:black;font-family:'Aldrich';font-weight:bold; }

/* -------------------menu transition------------------------ */
.menul{position:absolute;right:54%;top:0;animation:menutrans .5s ease-in;width:40%;}
.menur{position:absolute;left:54%;top:0;animation:menutrans .5s ease-in;width:40%;}
.menul ul li,.menur ul li{display:inline-block; animation:none;margin:0;padding-top:4px;padding-bottom`:4px;}
.menur ul li:nth-child(2),.menul ul li:nth-child(n){margin-left:0px;}
@keyframes menutrans{
    0%{ top:9em; }
    100%{ top:0; }
}

#navigation{visibility:hidden;z-index:100;}


#intro-wrap{ position: absolute;left:39%;top:7.5em; }
#intro-wrap h1{font-size:2.3em;}

#intro-wrap h2{font-family: "Lato";  text-shadow: 0 2px 0.1em black; }
#clg span{font-size: 0.5em;display: inline-block;animation: falltop forwards ease-in-out alternate;
          letter-spacing:4px;opacity:0;animation-delay:3s;}
#date span{display: inline-block;animation: fall4 forwards ease-in-out alternate;animation-delay:3s;opacity:0;}
#date{margin-top:.8em;font-size:1.3em;}
@keyframes fall4 {
  0% {
    transform: translateY(50em);
  }  100% {
    opacity:1;
  }
}
@keyframes falltop {
  0% {
    transform: translateY(-150px);opacity:0;
  }
  100%{  opacity:1; }
}
/* BTNS */
.btn-space{padding-left:10%;}

.btn-top{margin-top:-5em;}
#btns{perspective:300px;position:absolute;bottom:5em;width:100%;}
#btns ul li{display: inline-block;font-size:1.5em;text-align: center;}

#btns #about-btn{transform:skewX(-60deg);}
#about-btn .main-btn{ width:150px;height: 30px; box-shadow:2px 2px 0px #7cf4ff;}
#about-btn .main-btn div{transform:skewX(60deg); left:15px;}

#btns #contact-btn{transform:skewX(60deg);}
#contact-btn .main-btn{ width:190px;height: 30px;box-shadow:-2px 2px 0px #7cf4ff; }
#contact-btn .main-btn div{transform:skewX(-60deg);}

#btns #campus-btn{transform:rotateX(60deg);}
#campus-btn .main-btn{ width:350px;perspective:200px;height:40px;box-shadow:2px 2px 0px #7cf4ff;}
#campus-btn div{transform:rotateX(-30deg) scaleY(2.6) scaleX(1.2) skewX(5deg); left:50px;}

.main-btn div{position:absolute;top:0px;}
.main-btn {
  font-family:Aldrich;
  position: relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  line-height:30px;
  text-align: center;
  transition: 0.5s;
  padding: 10px 30px 10px 30px;
  margin-bottom: 5px;
  cursor: pointer;
  background: rgba(0,0,0,0.4);
  -webkit-transition: 0.5s;z-index:1;
}

.main-btn:hover {
  color: #7cf4ff; }

.main-btn::before, .main-btn::after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.9s; }

.main-btn::before {
  border-bottom: 2px solid #DDD;
  border-left: 2px solid #DDD;
  -webkit-transform-origin: 100% 0%; }

.main-btn::after {
  border-top: 2px solid #DDD;
  border-right: 2px solid #DDD;
  -webkit-transform-origin: 0% 100%; }

.main-btn:hover::after, .main-btn:hover::before {
  -webkit-transform: scale(1); }

@keyframes fadeInOut {
  0% {
    opacity: 0;
    font-size: 5px; }
  100% {
    opacity: 1; } }
