.btnB1{
    background-color: rgb(41, 79, 215);
    
}
.btnB2{
    background-color: rgb(26, 62, 194);
}
.btnB3{
    background-color: rgb(13, 46, 143);
}
.btnB4{
    background-color: rgb(18, 41, 118);
}
.btnB5{
    background-color: rgb(11, 43, 147);
}

.btnG1{
    background-color: rgb(47, 215, 41);
    
}
.btnG2{
    background-color: rgb(26, 194, 62);
}
.btnG3{
    background-color: rgb(24, 159, 12);
}
.btnG4{
    background-color: rgb(8, 121, 19);
}
.btnG5{
    background-color: rgb(5, 112, 21);
}